/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f8f9fa;
    color:#212529;
}

/* Links */

a{
    text-decoration:none;
}

/* Cards */

.card{
    border-radius:15px;
}

/* Hover Effect */

.hover-card{
    transition:0.3s;
}

.hover-card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 20px rgba(0,0,0,0.1);
}